<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>

	<body>
		<form>
			<input type="text" name="message">
			<input type="text" name="number">
			<input type="submit" name="Cipher">
		</form>

		<% if @message != "" %>		
			<p><%= @message %></p>
		<% end %>
	</body>
</html>