<!DOCTYPE html>
<html>
	<head>
		<title>Caesar Cipher</title>
		<link rel="stylesheet" type="text/css" href="index.css">
	</head>

	<body>
		<form>
			<input type="text" name="message">
			<input type="text" name="number">
			<input type="submit" name="Cipher">
		</form>

		<% if @message != "" %>		
			<p><%= @message %></p>
		<% end %>
	</body>
</html>