<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>

	<body>
		<form>
			<input type="text" name="number">
			<input type="text" name="string">
			<input type="submit" name="Cipher">
		</form>

		<p><%= string %></p>
	</body>
</html>